@()

<!DOCTYPE html>

<html>
    <head>
    	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <title>Sumbet Proto 2</title>
    </head>
    <body>
	<script type="text/x-handlebars">
    	<div class="container index">
			<div class="row page-header">
				<div class="col-sm-12"><h1 class="app-title">SumBet</h1></div>
			</div>
			<div class="row panel content-main">
	    		{{outlet}}	    		
			</div>
		</div>
	</script>
		<!-- JQUERY -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        
        <!-- BOOTSTRAP -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">		
		<!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		
		<!-- CHARTIST -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    	<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    	
    	<!-- MOMENT JS -->
    	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
		
		<!-- HANDLEBARS -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
		
		<!-- EMBER JS -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.9.0/ember.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.0.0-beta.15/ember-data.js"></script>
		
		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@sumbet.controllers.routes.Application.javascriptRoutes"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/router.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("index.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("makebet.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("summoner.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("match-history.js")" type="text/javascript"></script>
    </body>
</html>
