body {
  background-color: #1B1B20;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Roboto', sans-serif;
}

.app-title {
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
}

.big-text {
	font-size: 40px;
	font-weight: 500;
	line-height: 40px;
	text-transform: uppercase;
}

.wins {
	color: #2ecc71;
}

.losses {
	color: #c0392b;
}