@(labels: java.util.Collection[Long], values: java.util.List[Integer], goal: Integer)

@main("SumBet") {
	<h1><u>The Bet</u></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Summoner: 5P4RK4</h3>
  </div>
  
  <div class="panel-body">    
	@if(labels.size() > 0){
		<div class="ct-chart ct-major-twelfth" style="font-size: 20px;"></div>
		<script>
		var chart = new Chartist.Line('.ct-chart', {
			  labels: [@Html(labels.map(t => "moment(" + t + ").format('MMM Do h:mm a')").mkString(", "))],
			  series: [
			    {
			      name: 'TorbScore',
			      data: [@values.mkString(", ")]
			    }
			  ]
			},
			{
			  low: 1600,
			  high: @goal + 50,
			  showArea: true,
			  axisY: {
			      // The offset of the labels to the chart area
			      offset: 40,
			      // Allows you to correct label positioning on this axis by positive or negative x and y offset.
			      labelOffset: {
			        x: 0,
			        y: 0
			      },
			      // If labels should be shown or not
			      showLabel: true,
			      // If the axis grid should be drawn or not
			      showGrid: true,
			      // Interpolation function that allows you to intercept the value from the axis label
			      labelInterpolationFnc: Chartist.noop,
			      // This value specifies the minimum height in pixel of the scale steps
			      scaleMinSpace: 40
			    }
			});
chart.on('created', function(data){
	var chartRect = data.chartRect;
	var bounds = data.bounds;
	console.log(chartRect);
	console.log(bounds);
	var scale = (chartRect.y1 - chartRect.y2) / (bounds.max - bounds.min);
	var centerY = chartRect.y1 - scale * (@goal - bounds.min);
	var radius = 8;
	var newElement = new Chartist.Svg('circle', {
      cx: chartRect.x2 - radius,
      cy: centerY,
      r: radius
    }, 'goalMarker');
	chart.svg.append(newElement);
});    
chart.on('draw', function(data) {	
  if(data.type === 'line' || data.type === 'area') {
    data.element.animate({
      d: {
        begin: 2000 * data.index,
        dur: 2000,
        from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
        to: data.path.clone().stringify(),
        easing: Chartist.Svg.Easing.easeOutQuint
      }
    });
  }
});
var $chart = $('.ct-chart');
var $toolTip = $chart
  .append('<div class="mytooltip" style="color: white; position: absolute; width: 120px; height: 120px; background-image: url(\'http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/Chogath.png\')"></div>')
  .find('.mytooltip')
  .hide();

var $goaltoolTip = $chart
  .append('<div class="goaltooltip" style="position: absolute;">Goal: @goal</div>')
  .find('.goaltooltip')
  .hide();

$chart.on('mouseenter', '.goalMarker', function() {	
  $goaltoolTip.show();
});

$chart.on('mouseleave', '.goalMarker', function() {
  $goaltoolTip.hide();
});

$chart.on('mouseenter', '.ct-point', function() {
  var $point = $(this),
    value = $point.attr('ct:value'),
    seriesName = $point.parent().attr('ct:series-name');
  $toolTip.html(value).show();
});

$chart.on('mouseleave', '.ct-point', function() {
  $toolTip.hide();
});

$chart.on('mousemove', function(event) {
  $toolTip.css({
    left: (event.offsetX || event.originalEvent.layerX) - $toolTip.width() / 2 - 10,
    top: (event.offsetY || event.originalEvent.layerY) - $toolTip.height() - 40
  });
  $goaltoolTip.css({
    left: (event.offsetX || event.originalEvent.layerX) - $goaltoolTip.width() / 2 - 10,
    top: (event.offsetY || event.originalEvent.layerY) - $goaltoolTip.height() - 40
  });
});

		</script>
	}
  </div>
</div>
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#goal" aria-controls="home" role="tab" data-toggle="tab">Goal</a></li>
    <li role="presentation"><a href="#agreement" aria-controls="profile" role="tab" data-toggle="tab">Agreement</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="goal">
	    <p><strong>Goal:</strong> @goal TorbScore</p>
	    <p><strong>Current Score:</strong> @if(values.size() > 0){
	    		@values.get(values.size() - 1)
	    	}
	    </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="agreement">
	    <h2>The Agreement</h2>
       <p>Jonathan has until March 8th, 11:59pm to reach Platinum V. He must be in a game (does not include champion select or queue) by 11:58 for that game to count. 
If jonathan wins, Nima must play 4 hours of warthunder with Shay or another game of his choice (other than dayz or league) and mike must play 4 hours of Diablo with Dave / lee. 
In the event jonathan does not reach platinum V on the designated date, he must play 8 hours with Shay of a game of his choice (other than league or dayz).
All losers must stream. The whole time.
       </p>
       <pre>Accepted by: Jon, Nima, Michael</pre>
    </div>
  </div>

</div>       
}
<script>
$('#goal a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	});
$('#agreement a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	});
</script>
<style>
.goalMarker{
	fill: green;
}
</style>
