<div class="container index">
	<div class="row page-header">
		<div class="col-sm-12"><h1 class="app-title">SumBet</h1></div>
	</div>
	<div class="row panel content-main">
		<div class="col-sm-1"></div>
		<div id="make-bet" class="col-sm-5">
			<div>
				<p class="big-text">Make a Bet.<br />Let the Struggle Begin.</p>
				{{#link-to 'makebet' classNames="btn btn-primary"}}Make a Bet{{/link-to}}
			</div>
		</div>
		<div id="your-bets" class="col-sm-5 well">
			<div>
				<p class="text-uppercase header big-text">Your <em>Bets</em></p>
				{{#link-to 'login' classNames="btn btn-primary"}}Log In{{/link-to}}
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>