<h1></h1>
<div class="col-sm-12"></div>
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputBetOnSummoner" class="col-sm-3 control-label">Bet On</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="inputBetOnSummoner" placeholder="Summoner name">
	    </div>
	  </div>
	  <div class="form-group">
	  	<label class="col-sm-3 control-label">Goal</label>
	  	<div class="dropdown col-sm-6">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		    Rank <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li role="presentation"><a href="#">Kills</a></li>
		    <li role="presentation"><a href="#">KDA</a></li>
		    <li role="presentation"><a href="#">Wins</a></li>
		    <li role="presentation"><a href="#">Gold</a></li>
		  </ul>
		</div>
	  </div>			  
	  <div class="form-group">
	    <label for="inputGoalDate" class="col-sm-3 control-label">Goal Deadline</label>
	    <div class="col-sm-2">
	      <input type="text" class="form-control" id="inputGoalDate">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-6">
	      <button type="submit" class="btn btn-primary">Make Bet</button>
	    </div>
	  </div>
	</form>
</div>
<script>
$('#inputGoalDate').datepicker();
</script>